# Debugger
debug: false

# Server Setting
server:
  port: 8800

# Spring Configuration
spring:
  application:
    name: ADAdmin
  profiles:
    active: dev # 环境设置：dev、test、prod
  datasource:
    url: jdbc:postgresql://localhost:5432/ADAdmin?currentSchema=public
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
    dbcp2:
      max-idle: 10
      min-idle: 5
      max-wait-millis: 10000
      initial-size: 5
  redis:
    host: localhost
    port: 6379
    password: 123456
    database: 0
    timeout: 3000 # 连接超时时间（毫秒）
    jedis:
      pool:
        max-active: 200 # 连接池最大连接数（使用负值表示没有限制）
        max-wait: -1 # 连接池最大阻塞等待时间（使用负值表示没有限制）
        max-idle: 10 # 连接池中的最大空闲连接
        min-idle: 0 # 连接池中的最小空闲
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss # 返回json的全局时间格式
    time-zone: GMT+8 # 时区
  devtools:
    restart:
      enabled: true # 设置开启热部署
  freemarker:
    cache: false # 页面不加载缓存，修改即时生效

# MyBatis-plus Configuration
mybatis-plus:
  mapper-locations: classpath*:com/cxxwl96/ADAdmin/**/Mapper/xml/*.xml # 配置mapper xml文件的路径
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl # mybatis日志

